<div class="center-divs">
    <div class="layout-container v-center">
        <div class="q-row hidden-panel">
            <div class="hidden-btn hidden-menu" id="manage-questions-btn"></div>
            <div class="hidden-btn hidden-reset" id="manage-questions-btn"></div>
        </div>
        
        <button class="pick-btn" id="select-question-button">
            Losovat
        </button>
        <div class="q-selected opacity-hidden", id="question-selected-label">
            Název otázky
        </div>
        <div class="q-good-luck opacity-hidden">
            Hodně štěstí!
        </div>
    </div>
</div>